<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
    <%= @string %>
  </div>
  <div>
    <img src = "images/MeowCatGif.gif"
  </div>
  <div>
    <a href = "/">back</a>
  </div>
  </body>
</html>
